<div class="container-item-detail d-flex align-center justify-center" v-if="activeComponent" @click="closeDetail()">
    <div class="item-detail white rounded pa-6" @click.stop>
        <div class="d-flex justify-space-between">
            <div class="d-flex align-center mb-4">
                <v-img :src="dataDetail.countryInfo.flag" width="50" max-width="50" aspect-ratio="1" class="grey lighten-2"></v-img>
                <h1 class="green--text text--accent-4 text-center ml-2">{{ dataDetail.country }}</h1>
            </div>
            <div>
                <v-btn icon color="blue-grey" @click="closeDetail()" small class="ml-6">
                    <v-icon size="22">mdi-close-circle</v-icon>
                </v-btn>
            </div>
        </div>
        <v-container>
            <v-row no-gutters>
                <v-col cols="12" sm="6">
                    <div class="info-detail">
                        <p>Case</p>
                    </div>
                </v-col>
                <v-col cols="12" sm="6">
                    <div class="info-detail" :class="dataDetail.cases > 10000 ? 'red--text' : 'orange--text'">
                        {{ dataDetail.cases }}
                    </div>
                </v-col>
            </v-row>
            <v-row no-gutters>
                <v-col cols=" 12 " sm="6 ">
                    <div class="info-detail ">
                        <p>Deaths</p>
                    </div>
                </v-col>
                <v-col cols="12 " sm="6 ">
                    <div class="info-detail" :class="dataDetail.deaths > 100 ? 'red--text' : 'orange--text'">
                        {{ dataDetail.deaths }}
                        <span>{{ dataDetail.deaths > 100 ? 'danger' : 'warning' }}</span>
                    </div>
                </v-col>
            </v-row>
        </v-container>
    </div>
</div>