.container-items {
    .flex-1 {
        flex: 1;
    }
    .item {
        border: 1px solid transparent;
        cursor: pointer;
        &:hover {
            color: #00C853;
            border: 1px solid #ddd;
        }
    }
    .container-title {
        border-bottom: 1px solid #fff;
    }
}