.container-header {
    a {
        text-decoration: none;
    }
    .title-header {
        font-size: 24px;
        background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
    }
    .container-menus {
        .list-menus {
            .item-menu {
                list-style-type: none;
                margin-left: 10px;
            }
        }
    }
}