.container-profile {
    .background-profile {
        width: 100vw;
        height: calc(100vh - 64px);
        background-image: url("https://cdn.vuetifyjs.com/images/parallax/material.jpg");
        /* The image used */
        background-color: #cccccc;
        /* Used if the image is unavailable */
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        /* Resize the background image to cover the entire container */
        .img-avartar {
            width: 100px;
            height: 100px;
        }
    }
}