.container-footer {
    .menus {
        .menu {
            list-style-type: none;
            a:hover {
                color: #fff !important;
            }
        }
    }
    .sbi_bio {
        .img_sbi_bio {
            height: 25px
        }
    }
    .container-img {
        .img {
            height: 100px
        }
    }
}